---
import Leaderboard from '@components/Leaderboard.astro'
import Layout from '@layouts/Layout.astro'
import Container from '@components/Container.astro'
import Sponsors from '@components/Sponsors.astro'
import PlayerPrizeCard from '@components/PlayerPrizeCard.astro'
---

<Layout title='Kings League Infojobs'>
	<main>
		<section class='bg-[#cd5500] py-20'>
			<Container>
				<div class='grid grid-cols-3 gap-10 w-full px-10'>
					<div>
						<Leaderboard format='small' />
					</div>
					<div class='col-span-2'>
						<div class='grid grid-cols-6 gap-y-10 gap-x-5 w-full'>
							<div class='col-span-6'>
								<PlayerPrizeCard teamId='kunisports' title='MVP' subtitle='Jornada 1' />
							</div>
							<div class='col-span-3'>
								<PlayerPrizeCard teamId='1k' title='2' subtitle='Goles' />
							</div>
							<div class='col-span-3'>
								<PlayerPrizeCard teamId='rayo-barcelona' title='3' subtitle='Asistencias' />
							</div>
							<!-- Equipos -->
						</div>
					</div>
				</div>
			</Container>
		</section>
	</main>
	<Sponsors />
</Layout>
