---
import Container from '@components/Container.astro'
import SectionTitle from '@components/SectionTitle.astro'
import TeamSelectorCards from '@components/TeamSelectorCards.astro'
import Layout from '@layouts/Layout.astro'
---

<Layout title='Equipos'>
	<SectionTitle title='Equipos' />
	<Container>
		<div class='z-10 p-20 -mt-10 bg-white shadow-xl mb-20'>
			<TeamSelectorCards />
		</div>
	</Container>
</Layout>
